app

.config(function($routeProvider) {
    $routeProvider
        .when('/admin/:id', {
            templateUrl: '/templates/admin.html',
            controller: 'Admin'
        })
})

.factory('Api', function($resource) {
    return {
        {{#api}}
        {{table}}: $resource('{{{url}}}/:id', { id: '@id' }) ,
        {{/api}}
    }
})

.controller('Admin', function($scope, $routeParams, Api) {
    var Resource    = Api[$routeParams.id]
    $scope.entry    = null
    $scope.entries  = Resource.query()
    saved           = true
    $scope.select   = function(entry) {
        $scope.entry = entry
    }
    $scope.submit   = function() {
        var entry = $scope.entry
        if (!entry)
            return
        if (entry.id) {
            entry.$update()
        } else {
            entry.$save()
            saved = true
        }
        document.activeElement.blur()
    }
    $scope.add = function() {
        setTimeout(function() {
            document.querySelector('table > tbody > tr > td > input').focus()
        }, 0)
        if (!saved)
            return
        $scope.entries.unshift(new Resource())
        saved = false
    }
    $scope.$on('keypress +', $scope.add)
    $scope.$on('keypress =', $scope.add)
})
